@charset "UTF-8";
/* CSS Document */ :root {
  --dark-blue: #0e2d52;
  --light-blue: #0D95A5;
  --orange: #fa6100;
}
body {
  background-image: url("background.jpg");
  background-position: center bottom;
	
  font-family: 'Roboto', sans-serif;
}
/*NAVBAR*/
.header-container {
  background-color: white !important;
  padding: 20px;
}
.menu-ham {
  text-align: center;
	line-height: 1
}
/*
.hamburger {
  color: var(--light-blue);
font-size: 35px;

}
*/
.menu {
  color: var(--light-blue);
	  font-size: 20px;
	font-weight: 700;

}

.burger {
	width: 40px;
}

/*
.menu-ham:hover .menu {
  color: var(--light-blue);
}
.menu-ham:hover .hamburger {
  color: var(--orange);
}
*/
.form {
  border: 1px solid var(--dark-blue);
}


div.scrollmenu a {
  display: inline-block;
  color: var(--dark-blue);
  text-align: center;
  padding: 0 30px 0 30px;
  text-decoration: none;
  font-size: 1.1rem;
}
div.scrollmenu a:hover {
  font-weight: bolder;
}
/*    OFFCANVAS    */
.offcanvas-body {
  padding: 0px;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  margin: 12px 0 12px 0;
}
.chevron {
  padding-right: 5px;
  font-size: 15px;
  color: var(--orange);
}

/*
.chevron-call-out{
  font-size: 15px;
  color: white;
	background-color: var(--orange);
	border-radius: 50%;
	padding:2px 3px;
}
*/


.offcanvas-header {
  background-color: var(--dark-blue);
}
.main-menu-title a {
/*  padding: 2px 6px 2px 6px;*/
  color: white;
  font-size: 20px;
}



.main-menu-title:hover .bi-arrow-right{
	color: var(--orange);
}


.title-chevron {
	color:white;
}



.fa-circle-user {
	color: white;
}

.rounded-pill {
	border: 2px solid var(--dark-blue);
	color: var(--dark-blue);
}

.sub-category:hover .rounded-pill {
	color: white;
	background-color: var(--dark-blue);
	font-weight: bolder;
}
.chevron-back, .back-menu a {
  font-size: 15px;
}
.back-menu {
  color: white;
  text-decoration: none;
  background-color: var(--dark-color);
  font-weight: 500;
  padding-left: 25px;
  transition: 0.2s ease-in;
}
.chevron-back {
  color: white;
}
.back-menu:hover {
  transform: translateX(-10px);
}
.close {
  color: white;
  border: none;
  font-size: 25px;
  background-color: var(--dark-blue);
}
.close:hover {
  color: var(--orange);
}




/* LIST */
hr {
  color: var(--light-blue);
}

/*
.fa-fire {
	color:var(--orange);
		padding-right: 100px;
	font-size: 16px;
}

.fire {
	color:var(--orange);
	padding-top: 3px;

font-size: 12px;


}
*/
/*
.main-category {
  font-size: 22px;
  font-weight: 700;
  color: var(--dark-blue);
}
*/

.main-category a {
  color: var(--dark-blue);
  text-decoration: none;
 font-size: 20px;
	
  font-weight: 700;
}

.main-category {
  color: var(--dark-blue);
  text-decoration: none;
	
  font-weight: 700;
}

 .main-category:hover  .bi-arrow-right{
	color: var(--orange);
}

.sub-category {
  color: #444;
  font-size: 16px;

}

.sub-category a {
  color: #444;
  text-decoration: none;
  font-size: 16px;
}
.sub-category:hover a {
  color: var(--dark-blue);
	font-weight: 500;
}
.sub-category:hover .chevron {
  color: var(--dark-blue);
}
.sub-group {
  font-size: 15px;
}
.sub-group a {
  color: var(--light-blue);
  text-decoration: none;
}
.sub-group:hover a {
  color: var(--dark-blue);
  font-weight: bolder;
}
.sub-group:hover .chevron {
  color: var(--dark-blue);
}
.mobile-logo {
  display: none;
}

.social-icons a {
	color: var(--light-blue);
	padding: 0 4px 0 4px;
}



.fa-brands:hover {
	
color: var(--dark-blue);
	
}

.break-chev {
color: var(--orange);
}

.break-button:hover .break-chev{
	color: var(--dark-blue);
}








/*// Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
  body {
    background-image: url("mobile-back.png");
  }
  .offcanvas {
    width: 100% !important;
  }
  .header-container {
    padding-top: 5px !important;
  }
  .logo {
    display: none !important;
  }
  .sign-in {
    display: none !important;
  }

  .mobile-logo {
    display: block;
  }
/*
  .hamburger {
    font-size: 28px;
  }
*/
	
	div.scrollmenu a {

  padding: 0 7px 0 7px;
 
}
	
	.burger{
		padding-left: 8px
	}
	

}
/*// Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {
  body {
    background-image: url("mobile-back.png");
  }

  .header-container {
    padding-top: 5px !important;
  }
  .logo {
    display: none;
  }
  .sign-in {
    display: none;
  }
  .mobile-logo {
    display: block;
    margin: 0 auto;
    width: 100%;
  }

/*
  .hamburger {
    font-size: 28px;
  }
*/
	.menu{
		font-size: 18px;
		padding-top: 2px
	}

	 #offcanvasExample {
      width: 19vw !important;  
    }
}
/*// Large devices (desktops, 992px and up)*/
@media (min-width: 1025px) {
/*
  body {
    background-image: url("mobile-back.png");
  }
*/

/*
  .header-container {
    padding-top: 5px !important;
  }
  .logo {
    display: none;
  }
  .sign-in {
    display: none;
  }
*/
	 #offcanvasExample {
      width: 19vw !important;  
    }
	

}




