@charset "UTF-8";
/* CSS Document */ :root {
  --dark-blue: #0e2d52;
  --light-blue: #0D95A5;
  --orange: #fa6100;
}
body {
  background-image: url("background.jpg");
  background-position: center bottom;
  font-family: 'Roboto', sans-serif;
}
/*NAVBAR*/
.header-container {
  background-color: white !important;
  padding-top: 20px;
  margin: 0px auto;
}
.menu-ham {
  color: white;
  background-color: var(--dark-blue);
  border-radius: 7px;
  line-height: 1;
  min-width: 100px;
  max-width: 110px;
  padding: 3px 0 3px 0;
}
.menu {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 8px 0 7px 0;
}
.burger {
  margin-top: 7px;
  height: 22px;
  width: 27px
}
.form-control {
  font-size: 18px;
  border-radius: 5px;
}
.search-button {
  border-radius: 5px;
  width: 70px;
  color: white;
  font-size: 20px;
  font-weight: bolder;
}
.search-button:hover {
  color: var(--light-blue);
}
div.exposed-menu a {
  display: inline-block;
  color: var(--dark-blue);
  text-align: center;
  padding: 0 25px 0 25px;
  text-decoration: none;
  font-size: 1rem;
}
div.exposed-menu a:hover {
  font-weight: bolder;
}
/*    OFFCANVAS    */
.offcanvas-body {
  padding: 0px;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  padding: 8px;
}
li:hover {
  background: #F6F6F6;
}
.chevron {

  font-size: 15px;
  color: var(--orange);
}
.offcanvas-header {
  background-color: var(--dark-blue);
}
.main-menu-title a {
  color: white;
  font-size: 20px;
}
.main-menu-title:hover .bi-arrow-right {
  color: var(--orange);
}
.banner {
  position: relative;
  display: inline-block;
}
.banner a {
  position: absolute;
  bottom: 7px;
  right: 10px;
  background-color: white;
  color: var(--orange);
  text-decoration: none;
  padding: 6px 10px;
  font-size: 16px;
  font-weight: 700;
  transition: all ease-in 0.2s;
  border: 1px solid var(--orange);
}

.chevron-back, .back-menu a {
  font-size: 15px;
  color: white;
}
.back-menu {
  color: white;
  text-decoration: none;
  background-color: var(--dark-color);
  font-weight: 500;
  padding-left: 25px;
  transition: 0.2s ease-in;
}
.back-menu:hover {
  transform: translateX(-10px);
}
.close {
  color: white;
  border: none;
  font-size: 25px;
  background-color: var(--dark-blue);
}
.close:hover {
  color: var(--orange);
}
/* LIST */
hr {
  color: #444;
  margin: 0;
}
.call-out a {
  color: var(--dark-blue);
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
}
.call-out:hover a {
  color: var(--light-blue);
}
.main-category, .main-category a {
  color: var(--dark-blue);
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
}
.main-category:hover a {
  color: var(--light-blue);
}
.sub-category {
  color: #444;
  font-size: 16px;
  padding-left: 32px;
}
.sub-category a {
  color: #444;
  text-decoration: none;
  font-size: 16px;
}
.sub-category:hover a {
  color: var(--dark-blue);
  font-weight: 500;
}
.sub-category:hover .chevron {
  color: var(--dark-blue);
}
/*MOBILE*/
.mobile-logo {
  display: none;
}
.mobile-menu {
  color: white;
  background-color: var(--dark-blue);
  border-radius: 5px;
  line-height: 1;
  min-width: 60px;
}
@media (max-width: 350px) {
  .mobile-burger {
    height: 16px;
  }
  .menu-ham {
    display: block;
  }
  .banner a {
    bottom: 3px !important;
    right: 3px !important;
  }
  .main-category a, .call-out a {
    font-size: 17px
  }
  .sub-category a {
    font-size: 14px
  }
}
/*// Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
  body {
    background-image: url("mobile-back.png");
  }
  .header-container {
    padding-top: 5px !important;
    background-color: white;
  }
  .logo {
    display: none !important;
  }
  .sign-in {
    display: none !important;
  }
  .mobile-logo {
    display: block;
  }
  .menu-ham {
    display: none;
  }
  .menu {
    margin: 0;
    padding-top: 4px;
  }
  .mobile-burger {
    height: 18px;
  }
  .search-button {
    width: 40px;
    font-size: 15px
  }
  div.exposed-menu a {
    padding: 0 7px 0 7px;
  }
  .banner a {
    bottom: 6px;
    right: 10px;
  }
  .offcanvas {
    max-width: 350px;
    width: 90% !important;
    padding: 0;
  }
}
/*// Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {
  body {
    background-image: url("mobile-back.png");
  }
  .header-container {
    padding-top: 5px !important;
  }
  .logo {
    display: none;
  }
  .sign-in {
    display: none;
  }
  .mobile-logo {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
  .menu-ham {
    margin-right: 50px;
  }
  .menu {
    font-size: 15px;
    margin: 0;
    padding-top: 4px;
  }
  .offcanvas {
    max-width: 350px;
    width: 90% !important;
    padding: 0;
  }
}
/*// Large devices (desktops, 992px and up)*/
@media (min-width: 1025px) {
  .exposed-menu {
    margin-left: 55px;
  }
  .offcanvas {
    max-width: 350px;
    width: 85% !important;
    padding: 0;
  }
}
